/* ===================================================== */
/*                  	 Imports                         */
/* ===================================================== */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);
@import url(http://fonts.googleapis.com/css?family=Gafata);

/* ===================================================== */
/*                  	 Style Reset                     */
/* ===================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

input{
    padding:0;
    margin:0;
    outline: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
}

th, td {
    word-wrap: break-word;
    vertical-align: middle;
}

textarea {
    vertical-align: middle;
    resize: vertical;
}

/* ===================================================== */
/*                 Standard Html Tags                    */
/* ===================================================== */

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ccc;
    font-size: 12px;
    line-height: 1;
    background: #111 url(../images/body-bg.png) repeat;
}

h1, h2, h3 {
    margin: 5px 0;
    text-align: left;
    font-size: 1.15em;
}

h1 {
    color: black;
    border-bottom: 1px solid #797979;
}

h2 {color: #555;}

h3 {
    font: bold 14px Arial;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    color: #fff;
}

a, .link {
    color: tan;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img {
    vertical-align: middle;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #777;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #777;
}

/* ===================================================== */
/*                       Header                          */
/* ===================================================== */
header {
    height: 90px;
    text-align: left;
    width: 100%;
    border-bottom: 8px solid #222;
    font:normal 14px 'Yanone Kaffeesatz';
    letter-spacing: 1px;
    background: #100d10 url(../images/header-bg.png) repeat;
    text-shadow: 2px 2px 2px #000;
    color:#ddd;
}

#topWrapper {
    position:relative;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#logo {
    display: block;
    padding-top: 15px;
}

#logo a {
    height: 45px;
    margin: 0 auto;
    display: block;
    width: 230px;
    background: transparent url('../images/logo.png') no-repeat 0 0;
    text-indent: -9999px;
}

/* ===================================================== */
/*                  Application Layout                   */
/* ===================================================== */

#flash {
    position: absolute;
    top: 105px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    text-align: center;
    background: url(../images/flash-bg.png) 50% 50%;
    color: white;
}

#advertisement{
	text-align: center;
}

.hover {
    background-color: #EDECE8;
}

#content {
    width: 1000px;
    margin: 0 auto;
}

.homePage #search{
    min-height:450px;
}

#announcement {
    width: 500px;
    margin: 20px auto 0 auto;
    padding: 10px;
    overflow:auto;
    text-align: center;
    background: #222;
    box-shadow: 2px 2px 10px black;
}

#announcement p{
    display:inline;
}

#announcement .remove{
    float: right;
    cursor:pointer;
    color:#aaa;
}

#announcement .remove:hover{
    color:#fff;
}

    /* ===================================================== */
    /*                       Home Page                       */

        .standardForm{
            width:375px;
        }

        .homePage #advertisement{
            margin-bottom:20px;
        }

        .extraOptionsToggle{
            font-size: 15px;
            display: block;
            padding: 5px 0;
            color: tan;
            cursor:pointer;
        }

        .extraOptionsToggle:hover{
            text-decoration: underline;
        }

        #extraOptions{
           display:none;
        }

        .championThumbnail{
            float:left;
            width: 40px;
        }


        /* ===================================================== */
        /*                      About Page                     */

        #about{
            text-align: left;
            width: 550px;
            margin: 0 auto;
        }

        #about li a{
            font-size:14px;
        }

        #about li p{
            padding:5px 0 10px 0;
        }

        #about ol{
            padding: 0 17px 17px 17px;
        }

        #about ol li{
            margin:15px 0;
        }

        #about span{
            display:block;
        }

        #about span.question{
            color:white;
            font: normal 15px "Source sans pro", sans-serif;
            margin-bottom: 7px;
            padding: 7px;
            border-bottom: 1px solid #888;
            background: #134;
        }

        #about p.answer{
            text-align:left;
            padding-left:7px;
        }

    /* ===================================================== */
    /*                      Referral Page                     */
        #referralForm{
           margin-top:0px;
            margin-bottom:150px;
        }

        #referralForm input[type="email"]{
            width: 373px;
            margin-left:0;
        }

    /* ===================================================== */
    /*                      Results Page                     */

        #main{
            text-align: center;
        }

        #main a{
            color: tan;
            font: bold 19px 'source sans pro';
        }

        #main p{
            padding:20px 0;
        }

        #main strong{
            font:bold 16px 'Source Sans Pro',sans-serif;
        }

        .increasedLineHeight p{
            line-height: 20px;
        }

        .score{
            display: block;
            font: bold 14px 'source sans pro', 'sans-serif';
            margin-top: 10px;
        }

        .champions .score{
            font:normal 12px 'source sans pro';
        }

        #main .champions{
            width: 505px;
            overflow: hidden;
            margin: 0 auto;
        }

        .champions a:hover{
            text-decoration: none;
        }

        .champions li{
            display: inline-block;
            padding: 8px;
            margin: 5px;
            border: 1px solid #222;
            box-shadow: 3px 3px 10px black;
        }

        .shadowed{
            opacity:0.7;
            -webkit-transition: opacity 0.8s;-moz-transition: opacity 0.8s;-ms-transition: opacity 0.8s;-o-transition: opacity 0.8s;transition: opacity 0.8s;
        }

        .shadowed:hover{
            opacity: 1;
        }

        .champions li:hover{
            border: 1px solid #333;
        }

        .champions li img{
            width: 85px;
        }

/* ===================================================== */
/*                         Footer                        */

footer {
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    padding: 10px 0;
    width: 100%;
}

footer nav{
    margin-bottom:8px;
}

footer.halfSized {
    width: 400px;
    margin: 0 auto;
}

#languages li {
    display: inline-block;
    margin-right: 10px;
}

#languages li a:hover {
    color: #458FD9;
}

#languages li img {
    margin-right: 5px;
    vertical-align: middle;
}

    /* ===================================================== */
    /*                          Stage                       */

    #stageWrapper {
        position: fixed;
        width: 40%;
        top: 50%;
        left: 50%;
        margin-top: -19%;
        margin-left: -20%;
        z-index: 999;
    }

    #stage {
        overflow: hidden;
        background: #F4F3EE;
        border: 1px solid #333;
    }

    #stage #textareaWrapper {
        position: relative;
        width: 100%;
        float: left;
        border-right: 1px solid #333;
    }

    #stage textarea {
        top: 0;
        left: 0;
        width: 95%;
        display: block;
        height: 500px;
        resize: vertical;
    }

    #stage span.done {
        padding: 15px 0;
        display: block;
        text-align: center;
        border-top: 1px solid #999;
        background: url(../images/input-bg.png);
        cursor: pointer;
    }

    #stage span.done:hover {
        background: url(../images/input-bg-hover.png);
    }

    #stage .sceditor-container {
        margin: 30px auto;
    }

    #shadow {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.9;
        z-index: 99;
    }

    /* ===================================================== */
    /*                     Standard Form                     */

    .standardForm{
        margin: 30px auto 15px auto;
        padding:7px;
        text-align: left;
    }

    .standardForm:after{
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .standardForm .element{
        margin-bottom: 25px;
    }

    .standardForm .element:first-of-type{
        margin-top:0;
    }

    .standardForm .formError{
        padding:5px;
        color:red;
    }

    .standardForm input, select, textarea, .button{
        vertical-align: middle;
        margin-left: 70px;
        font-family: 'Source Sans Pro', sans-serif;
        width:300px;
        padding: 9px 0;
        text-indent: 5px;
        border: 1px solid #222;
        outline: none;
        background:transparent url(../images/input-bg.png) repeat;
        color: #ddd;
        box-shadow: 2px 2px 5px #000;
    }

    .standardForm label {
        width: 111px;
        display: inline-block;
        vertical-align: middle;
        padding: 15px 0;
    }

    .standardForm input[name="submit"] {
        float: right;
        width: 120px;
    }

    input[type="text"]{
        text-indent: 10px;
    }

    input[type="checkbox"]{
        width:115px;
        background:transparent;
        box-shadow: none;
    }


    .standardForm input:focus, .standardForm textarea:focus{
        box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 2px rgba(80,80,80,0.6);
    }

    .standardForm textarea {resize:vertical; min-height:200px;}

/* ===================================================== */
/*                    Common Classes                     */

.invisible {
    display: none;
}

.redirect{
     margin: 20px 0;
     display: block;
}

.blackBorder {
    border-right: 2px solid #777
}

.disabled{
    cursor: default;
}

.disabled:hover{
    cursor: default;
    color:inherit;
}

.formWrapper {
    display: none;
}

.formError {
    color: red
}

.rFloat {
    float: right;
}

.button{
    display:inline-block;
    text-align:center;
    width:300px;
}

.button:hover {
    cursor:pointer;
    background:transparent url(../images/input-bg-hover.png) repeat;
}